<div>
    <h3>Student Registration</h3>
    <form ng-submit="registrationStudent()">
      <label>Full Name</label>
      <input type="text" ng-model="name" required>
  
      <label>Email:</label>
      <input type="text" ng-model="email" required>
  
      <label>Password:</label>
      <input type="text" ng-model="password" required>

      <label>Occupation:</label>
      <input type="text" ng-model="occupation" required>

      <label>Formation:</label>
      <input type="text" ng-model="formation" required>
  
      <button type="submit">Create Account</button>
    </form>
</div>