.sidenav-main-container {
    height: 100%;
    width: 100%;
  }
  
  .sidenav-container {
    height: 40px;
    width: 40px;
  }
  
  .sidenav-card {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .sidenav-select {
    background: #e1e1e1;
  }

  .dds__icon--home::before {
    font-size: 1.5rem;
}

.dds__icon {
  font-size: 1.5rem;
}