<link rel="stylesheet" href="./app/features/student/directives/registration_student.css">

<div>
    <form ng-submit="registrationStudent()">
      
      <div class="form">
        <input type="text" class="custom-input" ng-model="name" placeholder="Full Name" required>
        <input type="text" class="custom-input" ng-model="email" placeholder="Email" required>
        <input type="password" class="custom-input" ng-model="password" placeholder="Password" required>
        <input type="password" class="custom-input" ng-model="confirm_password" placeholder="Confirm Password" required>
        <input type="text" class="custom-input" ng-model="education" placeholder="Education" required>

        <button class="btn btn-primary" ng-click="home()">Create Account</button>
      </div>
      
      <button type="submit" ng-click="login()" id="nav-bnt">Back to login</button>
    </form>
</div>