.container{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.summary{
    height: 85px;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}

.container-details{
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    flex-direction: row;
}

.doc{
    width: 60%;
    height: 100%;
}
  
img {
    object-fit: contain;
    width: 60%;
    height: 60%;
}

.information {
    width: 40%;
    height: 100%;
    padding-left: 20px;
    border: 1px solid;
}

span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #000000;
}

#nav-bnt {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: blue;
}
  
#nav-bnt i {
    font-size: 1.2rem;
}

.back{
    padding-top: 20px;
    height: 40px;
}

.edit {
    text-align: right;
  }
  
.button-edit {
    margin-left: auto;
    margin-top: 10px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.button-back{
    margin-right: auto
}