.container{
    display: flex;
    height: calc(100% - 50px);
    background: #FFFFFF;
    padding: 0%;
}

.detailing-container{
    width: 58%;
    overflow: hidden;
    padding-left: 20px;
}

.title{
    max-height: 20%;
}

.information {
    width: 39%;
    padding-left: 20px;
    padding-top: 30px;
}

span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #000000;
}