<link rel="stylesheet" href="./app/features/register/register.css">

<div class="container" ng-controller="RadioController">
  <div class="form-container">
    <div class="logo-container">
    <img class="logodell" src="./app/assets/images/logo.png"/>
    <img class="dellname" src="./app/assets/images/dellvector.png" />
  </div>
  
  <div class="options">
    <div ng-repeat="option in options">
      <label>
        <input type="radio" ng-model="$parent.optionSelect" ng-value="option">
        {{ option.name }}
      </label>
    </div>

    <div ng-if="optionSelect.value === 'student'">
        <registration-student></registration-student>
    </div>
    
    <div ng-if="optionSelect.value === 'teacher'">
        <registration-teacher></registration-teacher>
    </div>
  </div>

  </div>
  
  
  <div class="wallpaper">
  </div>
</div>