.dds__icon {
    font-size: 1.5rem;
}

.container {
    height: 100%;
    width: 100%;
}

.listing-container {
    width: 100%;
    height: 100%;

}
.listing-container i {
    float: right;
    margin-left: 15px;
}

.page {
    position: absolute;
    top: 92.5%;
    transform: translateY(-50%);
}

.page select{
    height: 30px;
    width: 45px;
    border-color:#9e9d9d;
}

.search-listing-container {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 20px 10px;
}

.search-listing-container button {
    margin-left: 20px;
    height: 32px
}

.search-listing-container input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #E1E1E1;
}

.button-clear {
    width: 116px;
    color: #0063B8;
    border-color: #0063B8;
    background-color: transparent;
    
}

.button-search {
    width: 208px;
    background-color: #0063B8;
    
}