.home-container{
    display: flex;
}

.card {
    border: 1px solid #ccc;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    height: 30vh;
    width: 50vh;
}